.soon {
    color: red;
}

body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container {
    padding: 0 20px 30px;
    width: 300px;
    background: white;
    border: 2px solid #eaeaea;
    position: fixed;
    top: 100px;
    left: 100px;
}
button {
    /* position: absolute !important; */
    /* right: 20px; */
    /* bottom: -28px; */
}